.flip-list-move {
    transition: transform 1s;
}
.li-element-player {
    height:5vh;
    width: 60%;
    margin: 1vh;
    padding:5px;
}
.li-element-term {
    height: 7vh;
    width: 60%;
    margin: 1.5vh;
    padding: 1.5vh;
}
.progress-bar-override {
    width:80%;
}
.h1-override {
    height:80%;
    font-size: 16px;
    margin: 4px;
    padding: 5px;
    font-size: 10vh;
}
.h2-override {
    height: 80%;
    font-size: 16px;
    margin: 4px;
    padding: 5px;
    font-size: 5vh;
}
.invite-btn {
    height: 40px;
    width: 40%;
    margin: 4px;
    padding: 5px;
}
.h3-override {
    margin: 2px;
    font-size: 3vh;
}
.h3-override-term {

    margin:2px;
    font-size:5.5vh;
    margin-left:1vw;
}

.loading-dots {
    font-size: 30px;
}

.loading-dots:after {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2s infinite;
    animation: ellipsis steps(4,end) 2s infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

#Terms {
    .shadow:not(.disabled) {
        transition: 1s;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            transition: 1s;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
        }
    }
}

    @keyframes ellipsis {
        to {
            width: 1.25em;
        }
    }

    @-webkit-keyframes ellipsis {
        to {
            width: 1.25em;
        }
    }