* {
    font-size: 2rem;
}

.jconfirm-box-container {
    margin-left: 0 !important;
}

#StartScreen {
    background-color: #0b63af;
}

#WinningScreen {
    background-color: #0b63af;
}

.inactivate {
    opacity: 0 !important;
    pointer-events: none;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: black;   
    transition: 1s;
}

.loading.hidden {
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

