<div id="app">
    <div id="PlayerID" class="hidden">@ViewBag.PlayerID</div>
    <div id="CoreCarousel" class="carousel carousel-fade">
        <div class="carousel-inner">
            <div id="StartScreen" :class="{'carousel-item': true, active: startActive}">
                <div class="container-fluid" style="height:100vh">
                    <div class="row align-items-center" style="height:100vh">
                        <div class="col text-center">
                            <div class="row">
                                <div class="col text-center">
                                    <h1>Doodle Bash</h1>
                                    <h3>Compete with your friends for the best doodle</h3>
                                    <br /><br />
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-3">
                                    <input class="form-control form-control-lg" v-model="playerName" type="text" placeholder="Name">
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="button" v-on:click="start" class="btn btn-lg btn-outline-secondary">START GAME</button>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="LobbyScreen" :class="{'carousel-item': true, active: lobbyActive}">
                <div class="container-fluid" style="height:100vh">
                    {{lobbyCountDown}}
                    <div class="row align-items-center" style="height:100vh">
                        <div class="col text-center">
                            <div class="row">
                                <div class="col text-center">
                                    <div id="Players" v-for="player in lobbyPlayers">
                                        <h1>{{player}}</h1>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <transition-group name="flip-list" tag="div">
                                        <div id="Terms" v-for="term in lobbyTermsList" :key="term.term">
                                            <h1>{{term.term}}</h1>
                                            <h1>{{term.votes}}</h1>
                                            <button type="button" v-on:click="voteTerm(term.term)" class="btn btn-outline-secondary" :class="{hidden: showVoteButtons }">Vote</button>
                                        </div>
                                    </transition-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GameScreen" :class="{'carousel-item': true, active: gameActive}">
                <div class="container-fluid" style="height:100vh">
                    <div class="row align-items-center" style="height:100vh">
                        <div class="col text-center">
                            <div class="row">
                                <div class="col text-center">
                                    Game Started
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add script to update the page and send messages.-->
<script type="text/javascript">

    var VUE;

    $(function () {
        VUE = new Vue({
            el: '#app',
            data: {
                gameConnection: $.connection.gameHub,
                coreCarousel: $('#CoreCarousel').carousel({
                    interval: false,
                }),
                playerID: $("#PlayerID").text(),
                playerName: "",
                startActive: true,
                lobbyActive: false,
                gameActive: false,
                lobbyPlayers: [],
                lobbyTerms: [],
                termVotes: 2,
                lobbyCountDown: 30
            },

            computed: {
                lobbyTermsList: function ()
                {
                    var keys = Object.keys(this.lobbyTerms);
                    var terms = [];

                    keys.forEach(function (term)
                    {
                        terms.push(
                            {
                                term: term,
                                votes: VUE.lobbyTerms[term]
                            }
                        )
                    });

                    return _.orderBy(terms, 'votes');
                },
                showVoteButtons: function ()
                {
                    return this.termVotes == 0;
                }
            },

            methods: {
                start: function ()
                {
                    if (this.playerName != "") 
                    {
                        this.gameConnection.server.addPlayerToLobby(this.playerID, this.playerName);
                        this.startActive = false;
                        this.lobbyActive = true;
                    }
                    else
                    {
                        alert("Empty Name");
                    }
                },
                voteTerm: function (term)
                {
                    if (this.termVotes > 0)
                    {
                        this.termVotes--;
                        this.gameConnection.server.voteTerm(this.playerID, term);
                    }
                },
                startLobbyTimer: function ()
                {
                    if (this.lobbyCountDown > 0) {
                        this.lobbyCountDown--;
                        setTimeout(this.startLobbyTimer, 1000);
                    }
                }

            },

            created: function () {

                this.gameConnection.client.playerAddedToLobby = function (names) {
                    VUE.lobbyPlayers = names;  

                    if (names.length == 2)
                    {
                        VUE.startLobbyTimer();
                    }
                }

                this.gameConnection.client.startGame = function () {
                    VUE.lobbyActive = false;
                    VUE.gameActive = true;
                }

                this.gameConnection.client.setTerms = function (terms) {
                    VUE.lobbyTerms = terms;
                }

                this.gameConnection.client.votedTerm = function (term, voteCount) {
                    VUE.lobbyTerms[term] = voteCount;
                }

                $.connection.hub.start();
                
                //gameConnection.client.broadcastMessage = function (name, message) {
                    
                //    var encodedName = $('<div />').text(name).html();
                //    var encodedMsg = $('<div />').text(message).html();
                   
                //    $('#discussion').append('<li><strong>' + encodedName
                //        + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
                //};
               
                //$('#displayname').val(prompt('Enter your name:', ''));
               
                //$('#message').focus();
               
                //$.connection.hub.start().done(function () {
                //    $('#sendmessage').click(function () {
                        
                //        gameConnection.server.send($('#displayname').val(), $('#message').val());
                        
                //        $('#message').val('').focus();
                //    });
                //});

            }
        });



    });
</script>

<!-- /ko -->
